# Node.js dependencies
node_modules/
bower_components/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/
_public/

# Logs
logs/
*.log

# Environment variables
.env
.env.local
.env.*.local

# IDE files
.vscode/
.idea/
*.swp

# Miscellaneous
.DS_Store
Thumbs.db