.reset-password-page
  .reset-left
    .branding
      h1.logo Babble.
      
    .reset-form
      h2 Reset password
      p.reset-text Enter the email associated with your account and we'll send an email with instructions to reset your password.
      
      .reset-success(ng-if='resetSent')
        i.fa.fa-check-circle
        p.success-message Password reset link has been sent to your email. Please check your inbox.
        
      form(ng-submit='sendResetLink()', ng-if='!resetSent')
        input(type='email', 
              name='email',
              ng-pattern='/^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/',
              ng-model='user.email', 
              placeholder='Email Address',
              required)
        
        p.reset-error.bg-danger(ng-if='resetError')
          i.fa.fa-exclamation
          span  {{ resetErrorMessage }}
        
        button.btn.btn-primary.reset-btn(type='submit', ng-disabled='!user.email') Send Reset Link
        
      .login-link(ng-if='!resetSent')
        a(href='/login') Back to Login
        
      .login-link(ng-if='resetSent')
        a(href='/login') Return to Login
  
  .reset-right
    .feature-preview
      img.dashboard-preview(src='/img/login-preview.png', alt='Dashboard Preview')
    
    .feature-text
      h2 Manage multiple lines easily
      p Start monitoring and controlling your machines easily.
      
      .indicators
        span.indicator.active
        span.indicator
        span.indicator
    
    .copyright
      p 2020 Babble. All right reserved