h3 API

p.
    Babble has a REST-ful API that you can consume to perform CRUD operations on
    the Dashboard definitions.

p  This instance of Babble is configured to use the following service:

p
    strong 
        a(href='{{config.restServiceUrl}}/', target='_blank') {{ config.restServiceUrl }}/

